{%extends "LoginLoginBundle:Default:home.html.twig"%}

{%block container %}

<div class="span10">
    <h2>Edit Occupy Details </h2>
    <form class="form-search" method="POST" action="{{path('login_login_occupyedit')}}" data-validate="parsley">
        <input type="text" name="studno" class="input-medium search-query" placeholder="Enter Student Number">
        <button type="submit" class="btn">Search</button>
    </form>
</div><!--/row-->


      {%endblock%}

      {%block sideMenu %}

<ul class="nav nav-list">
    <li class="nav-header"><b>Home</b></li>
    <li class="active"><a href="{{ path('login_login_home')}}">Welcome</a></li>
    <li><a href="{{ path('login_login_addstudent')}}">Add</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Sidebar</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Hall Hall Hall</li>
    <li><a href="{{ path('login_login_halladd')}}">Add Hall</a></li>
    <li><a href="{{ path('login_login_halledit')}}">Edit Hall</a></li>
    <li><a href="{{ path('login_login_halldelete')}}">Delete Hall</a></li>              
</ul>
{%endblock%}

