{%extends "LoginLoginBundle:Default:welcome.html.twig"%}

{%block container %}

<div class="span10">
    <h2>Delete Room  </h2>
    <form class="form-search" method="POST" action="{{path('login_login_roomdelete')}}" data-validate="parsley">
        <input type="text" name="hallname" class="input-medium search-query" placeholder="Enter Hall Name"><br><br>
        <input type="text" name="roomno" class="input-medium search-query" placeholder="Enter Room Number"><br><br>
        <button type="submit" class="btn">Delete</button>
    </form>
</div><!--/row-->

      {%endblock%}

      {%block sideMenu %}

<ul class="nav nav-list">
    <li class="nav-header"><b>Home</b></li>
    <li class="active"><a href="{{ path('login_login_home')}}">Welcome</a></li>
    <li><a href="{{ path('login_login_addstudent')}}">Add</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Sidebar</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Hall Hall Hall</li>
    <li><a href="{{ path('login_login_halladd')}}">Add Hall</a></li>
    <li><a href="{{ path('login_login_halledit')}}">Edit Hall</a></li>
    <li><a href="{{ path('login_login_halldelete')}}">Delete Hall</a></li>   
    <li class="nav-header">Room </li>
    <li><a href="{{ path('login_login_roomadd')}}">Add Room</a></li>
    <li><a href="{{ path('login_login_roomedit')}}">Edit Room</a></li>
    <li><a href="{{ path('login_login_roomdelete')}}">Delete Room</a></li>              
</ul>
{%endblock%}
