<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>University of Sumanadasa, Halls Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{asset('bundles/loginlogin/css/bootstrap-responsive.css')}}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('bundles/loginlogin/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('bundles/loginlogin/ico/apple-touch-icon-114-precomposed.png')}}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('bundles/loginlogin/ico/apple-touch-icon-72-precomposed.png')}}">
                    <link rel="apple-touch-icon-precomposed" href="{{asset('bundles/loginlogin/ico/apple-touch-icon-57-precomposed.png')}}">
                                   <link rel="shortcut icon" href="{{asset('bundles/loginlogin/ico/favicon.png')}}">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Halls Management System for University of Sumanadasa</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
   <!--           <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
      -->

            </ul>
                  
              
            <form class="navbar-form pull-right" method ="POST" action="{{path('login_login_uos')}}">
              <input class="span2" name="user_id" type="text" placeholder="User ID">
              <input class="span2" name="password" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>





          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      
<!--      <img src="C:\wamp\www\uos\src\Login\LoginBundle\Resources\public\images\size,jpg" alt="some_text">
--> 



<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="size2.PNG" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{asset('bundles/loginlogin/img/slide-02.jpg')}}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{asset('bundles/loginlogin/img/slide-03.jpg')}}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


      <!-- Example row of columns -->
      
      <div class="row">
        <div class="span4">
            
          <h3>About us</h3>
          
          <p>us commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          
        </div>
        <div class="span4">
          <h3>Contact us</h3>
          <p>
          Brunthavan Murugaiah </br>
          University of Moratuwa </br>
          Srilanka
          </p>
          
       </div>
        <div class="span4">
          <h3>More details</h3>
          <p>a porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
        </div>
      </div>
              
      <hr>

      <footer>
        <p>&copy; Augmented Software Solutions 2014</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('bundles/loginlogin/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-transition.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-alert.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-modal.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-dropdown.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-tab.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-tooltip.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-popover.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-button.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-collapse.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-carousel.js')}}"></script>
    <script src="{{asset('bundles/loginlogin/js/bootstrap-typeahead.js')}}"></script>

  </body>
</html>
